*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main{
    text-align: center;
    font: 1em sans-serif;
    font-size: 30px;
}
.next{
    background-color: blue;
    padding: 10px;
    border: none;
    border-radius: 20px;
}
.button{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    gap: 1rem;
}
a{
    color: white;
    text-decoration: none;
}